<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hospital Diagnosis Form</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <div class="header">
        <div id="hospital_info">
          <h1>Hospital Name</h1>
          <p>Hospital Address</p>
          <p>Hospital Gmail | Hospital Website | Hospital Number</p>
        </div>
    </div>

  <hr>

  <!-- Body -->